{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Lebaguette - Profile{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Account setup</span>
        <div class="mdl-layout-spacer"></div>
        <label id="logout" class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <a href="/logout"><i class="material-icons">power_settings_new</i></a>
        </label>
        <div class="mdl-tooltip" for="logout">
          Bye bye
        </div>
      </div>
    </header>
    {% include "base/drawer.html" %}
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid container">
        <div class="cards mdl-cell mdl-cell--12-col mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-tablet mdl-cell--3-col">
            <div class="mdl-card__title mdl-card--expand card-profile">
              <div class="mdl-layout-spacer"></div>
              <img src="{% static "images/ninja.png" %}" alt="profile image" class="card-profile--avatar mdl-shadow--2dp">
              <div class="mdl-layout-spacer"></div>
            </div>
            <div class="mdl-card__supporting-text card-profile--stats mdl-grid">
              <div class="mdl-cell mdl-cell--12-col separator"></div>
              <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                <span class="mdl-typography--title">{{ request.user.first_name }} {{ request.user.last_name }}</span>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a id="submit_form" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                Save profile
              <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 272.026px; height: 272.026px; transform: translate(-50%, -50%) translate(78px, 16px);"></span></span></a>
            </div>
          </div>
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-tablet mdl-cell--9-col" style="overflow:visible;">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
              <div class="mdl-tabs__tab-bar">
                <a href="#profile-panel" class="mdl-tabs__tab is-active">Personal information</a>
                <a href="#password-panel" class="mdl-tabs__tab">Password</a>
              </div>
              <form id="profile_form" class="input-profile" method="post" action="{% url 'profile' %}">
                <div class="mdl-tabs__panel is-active mdl-grid mdl-cell mdl-cell--12-col" id="profile-panel">
                  {% csrf_token %}
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ user_change_form.username }}
                      <label class="mdl-textfield__label" for="id_username">Login name...</label>
                      {% if user_change_form.errors.username %}
                      <div id="id_username_error" class="error-tooltip">
                        {% for error in user_change_form.errors.username %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ user_change_form.first_name }}
                      <label class="mdl-textfield__label" for="id_first_name">First name...</label>
                      {% if user_change_form.errors.first_name %}
                      <div id="id_first_name_error" class="error-tooltip">
                        {% for error in user_change_form.errors.first_name %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ user_change_form.last_name }}
                      <label class="mdl-textfield__label" for="id_last_name">Last name...</label>
                      {% if user_change_form.errors.last_name %}
                      <div id="id_last_name_error" class="error-tooltip">
                        {% for error in user_change_form.errors.last_name %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ user_change_form.email }}
                      <label class="mdl-textfield__label" for="id_email">e-mail...</label>
                      {% if user_change_form.errors.email %}
                      <div id="id_email" class="error-tooltip">
                        {% for error in user_change_form.errors.email %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="mdl-tabs__panel mdl-grid" id="password-panel">
                  <div class="input-profile">
                      {{ password_change_form.non_field_errors.as_text }}
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ password_change_form.old_password }}
                      <label class="mdl-textfield__label" for="id_old_password">Old password...</label>
                      {% if password_change_form.errors.old_password %}
                      <div id="id_old_password_error" class="error-tooltip">
                        {% for error in password_change_form.errors.old_password %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ password_change_form.new_password1 }}
                      <label class="mdl-textfield__label" for="id_new_password1">New password...</label>
                      <div id="password_strength" class="mdl-progress mdl-js-progress"></div>
                      {% if password_change_form.errors.new_password1 %}
                      <div id="id_new_password1_error" class="error-tooltip">
                        {% for error in password_change_form.errors.new_password1 %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                    <div id="password_tooltip" class="mdl-tooltip" for="id_new_password1">At least 8 characters</div>
                  </div>
                  <div class="mdl-layout-spacer"></div>
                  <div class="input-profile">
                    <div class="mdl-textfield mdl-js-textfield">
                      {{ password_change_form.new_password2 }}
                      <label class="mdl-textfield__label" for="id_new_password2">Repeat password...</label>
                      {% if password_change_form.errors.new_password2 %}
                      <div id="id_new_password2_error" class="error-tooltip">
                        {% for error in password_change_form.errors.new_password2 %}
                          {{ error|escape }}<br>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </form>
            </div>
            {% if user_change_form.non_field_errors %}
            <div id="non_field_errors" class="error-tooltip-non">
              {% for error in user_change_form.non_field_errors %}
                {{ error|escape }}<br>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  </div>
  {% endblock %}
  {% block post_load %}
    <script type = "text/javascript" src="{% static "js/profile.js" %}"></script>
  {% endblock %}
