{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Lebaguette - Episodes list{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Get to work</span>
        <div class="mdl-layout-spacer"></div>
        <label id="logout" class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <a href="/logout"><i class="material-icons">power_settings_new</i></a>
        </label>
        <div class="mdl-tooltip" for="logout">
          Bye bye
        </div>
      </div>
    </header>
    {% include "base/drawer.html" %}
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid container">
        {% if perms.requestmedia.add_request %}
          {% include "base/request_form.html" %}
        {% endif %}
        <div class="cards mdl-cell mdl-cell--12-col mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            {% include "base/requests_menu.html" %}
            <!-- COMPETED TAB START -->
            <div id="items_container">
              <ul class="mdl-list mdl-cell mdl-cell--12-col">
                <li class="mdl-list__item mdl-list__item--two-line">
                  <span class="mdl-cell mdl-cell--8-col mdl-list__item-primary-content">
                    Episode name
                  </span>
                  <span class="mdl-cell mdl-cell--2-col mdl-list__item-primary-content">
                    Completed by
                  </span>
                  <span class="mdl-cell mdl-cell--2-col mdl-list__item-primary-content">
                    Completed on
                  </span>
                </li>
              </ul>
              <ul id="items_list">
                {% for item in request_items_page %}
                <li class="mdl-list__item mdl-list__item--two-line" id="{{item.id}}">
                  <div class="mdl-cell mdl-cell--1-col mdl-grid">
                      <img class="poster__image mdl-cell mdl-cell--12-col" src="{{ item.media_item.get_poster_url }}" alt="{{ item.media_item }} poster" height="100%" width="auto">
                  </div>
                  <span class="mdl-cell mdl-cell--7-col mdl-list__item-primary-content">
                    <span>
                        {{ item.media_item }}
                    </span>
                    <span class="mdl-list__item-sub-title">{{ item.media_item.title }} aired on {{ item.media_item.released }}</span>
                  </span>
                  <span class="mdl-cell mdl-cell--2-col mdl-list__item-primary-content">
                      {{ item.completed_by.first_name }} {{ item.completed_by.last_name }}
                  </span>
                  <span class="mdl-cell mdl-cell--2-col mdl-list__item-primary-content">
                      {{ item.datetime_completed }}
                  </span>
                </li>
                {% endfor %}
              </ul>
              <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-spinner mdl-js-spinner" id="loading"></div>
                <div class="mdl-layout-spacer"></div>
              </div>
              {% if paginator.num_pages > 1 %}
              <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-layout-spacer"></div>
                {% if request_items_page.has_previous %}
                <a href="completed/?page={{ request_items_page.previous_page_number }}">
                  <button class="mdl-button mdl-js-button mdl-button--primary">Previous</button>
                </a>
                {% endif %}
                {% if request_items_page.number != 1 and request_items_page.previous_page_number != 1 %}
                <a href="completed/?page=1">
                  <button class="mdl-button mdl-js-button mdl-button--primary">1</button>
                </a>
                {% endif %}
                {% if request_items_page.previous_page_number|add:"-1" > 1 %}
                <button class="mdl-button mdl-js-button mdl-button--primary" disabled>
                ...
                </button>
                {% endif %}
                {% if request_items_page.has_previous %}
                <a href="completed/?page={{ request_items_page.previous_page_number }}">
                  <button class="mdl-button mdl-js-button mdl-button--primary">{{ request_items_page.previous_page_number }}</button>
                  <div id="previous_page_number" class="hidden">{{ request_items_page.previous_page_number }}</div>
                </a>
                {% endif %}
                <button id="current_page_number" class="mdl-button mdl-js-button mdl-color-text--pink-600" disabled>
                  {{ request_items_page.number }}
                </button>
                {% if request_items_page.has_next %}
                <a href="completed/?page={{ request_items_page.next_page_number }}">
                  <button class="mdl-button mdl-js-button mdl-button--primary">{{ request_items_page.next_page_number }}</button>
                </a>
                {% endif %}
                {% if request_items_page.next_page_number|add:"1" < paginator.num_pages %}
                <button class="mdl-button mdl-js-button mdl-button--primary" disabled>
                ...
                </button>
                {% endif %}
                {% if request_items_page.number != paginator.num_pages and request_items_page.next_page_number != paginator.num_pages %}
                <a href="completed/?page={{ paginator.num_pages }}">
                  <button class="mdl-button mdl-js-button mdl-button--primary">{{ paginator.num_pages }}</button>
                </a>
                {% endif %}
                {% if request_items_page.has_next %}
                <a id="paginator_next" href="completed/?page={{ request_items_page.next_page_number }}">
                  <button class="mdl-button mdl-js-button mdl-button--primary">Next</button>
                </a>
                {% endif %}
                <div class="mdl-layout-spacer"></div>
              </div>
              {% endif %}
            </div>
            <!-- COMPLETED TAB END -->
          </div>
        </div>
      </div>
      {% include "base/snackbar.html" %}
    </main>
  </div>
  {% endblock %}
  {% block post_load %}
    <script type = "text/javascript" src="{% static "js/requestmedia.js" %}"></script>
  {% endblock %}
