{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Lebaguette - Request Media{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Request Media</span>
        <div class="mdl-layout-spacer"></div>
        <label id="logout" class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <a href="/logout"><i class="material-icons">power_settings_new</i></a>
        </label>
        <div class="mdl-tooltip" for="logout">
          Bye bye
        </div>
      </div>
    </header>
    {% include "base/drawer.html" %}
    <main class="mdl-layout__content mdl-color--grey-100">
      <div>
          <ul>
          {% for media_item in media_items_page %}
          <li>{{ media_item }}</li>
          {% endfor %}
      </ul>
          {% if paginator.num_pages > 1 %}
          <br>
            <div >
                    {% if media_items_page.has_previous %}
                    <a href="?page={{ media_items_page.previous_page_number }}">Previous</a>|
                    {% endif %}
                    {% if media_items_page.number != 1 and media_items_page.previous_page_number != 1 %}
                    <a href="?page=1">1</a>|
                    {% endif %}
                    {% if media_items_page.previous_page_number|add:"-1" > 1 %}
                    ...
                    {% endif %}
                    {% if media_items_page.has_previous %}
                    <a href="?page={{ media_items_page.previous_page_number }}">{{ media_items_page.previous_page_number }}</a>|
                    {% endif %}
                    ({{ media_items_page.number }})|
                    {% if media_items_page.has_next %}
                    <a href="?page={{ media_items_page.next_page_number }}">{{ media_items_page.next_page_number }}</a>|
                    {% endif %}
                    {% if media_items_page.next_page_number|add:"1" < paginator.num_pages %}
                    ...
                    {% endif %}
                    {% if media_items_page.number != paginator.num_pages and media_items_page.next_page_number != paginator.num_pages %}
                    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>|
                    {% endif %}
                    {% if media_items_page.has_next %}
                    <a href="?page={{ media_items_page.next_page_number }}">Next</a>
                    {% endif %}
            </div>
          {% endif %}
      </div>
    </main>
  </div>
  {% endblock %}
  {% block post_load %}
    <script type = "text/javascript" src="{% static "js/profile.js" %}"></script>
  {% endblock %}
