{% load staticfiles %}
<div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="drawer-header">
    <span class="mdl-layout-title">Welcome</span>
    <div class="mdl-layout-spacer"></div>
    <img src="{% static "images/ninja.png" %}" class="avatar">
    <div>
      <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
    </div>
  </header>
  <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href="/"><i class="material-icons" role="presentation">home</i>Home</a>
    <div class="nav_divider mdl-color--blue-grey-700">Services</div>
    <a class="mdl-navigation__link" href="/plex"><i class="material-icons" role="presentation">movie</i>Plex</a>
    <a class="mdl-navigation__link" href="/owncloud"><i class="material-icons" role="presentation">backup</i>OwnCloud</a>
    <a class="mdl-navigation__link" href="/transmission"><i class="material-icons" role="presentation">file_download</i>Transmission</a>
    <a class="mdl-navigation__link" href="/requestmedia"><i class="material-icons" role="presentation">video_library</i>Request Media</a>
    <div class="nav_divider mdl-color--blue-grey-700">Information</div>
    {% for group in user.groups.all %}
        {% if "/status/" == group.name %}
            <a class="mdl-navigation__link" href="/status"><i class="material-icons" role="presentation">data_usage</i>Server status</a>
        {% endif %}
    {% endfor %}
    <a class="mdl-navigation__link" href="/profile"><i class="material-icons" role="presentation">settings</i>Account setup</a>
    {% if request.user.is_staff %}
        <a class="mdl-navigation__link" href="/admin"><i class="material-icons" role="presentation">security</i>Admin Page</a>
    {% endif %}
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
  </nav>
</div>
