{% extends "base/base.html" %}

{% block title %}Lebaguette - Status{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Server status</span>
        <div class="mdl-layout-spacer"></div>
        <span class="mdl-layout-title">Uptime: {{ request.uptime }}</span>
        <div class="mdl-layout-spacer"></div>
        <label id="logout" class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <a href="/logout"><i class="material-icons">power_settings_new</i></a>
        </label>
        <div class="mdl-tooltip" for="logout">
          Bye bye
        </div>
      </div>
    </header>
    <div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="drawer-header">
        <span class="mdl-layout-title">Welcome</span>
        <div class="mdl-layout-spacer"></div>
        <img src="../static/images/ninja.png" class="avatar">
        <div>
          <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </div>
      </header>
      <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="/plex"><i class="material-icons" role="presentation">movie</i>Plex</a>
        <a class="mdl-navigation__link" href="/owncloud"><i class="material-icons" role="presentation">backup</i>OwnCloud</a>
        <a class="mdl-navigation__link" href="/transmission"><i class="material-icons" role="presentation">file_download</i>Transmission</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid container">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
          <div class="cards mdl-grid">
            <!-- CPU DATA -->
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="mdl-card__title mdl-card--expand mdl-color--green-400">
                <h2 class="mdl-card__title-text mdl-card--expand">CPU load // Physical Cores: {{ cpu_physical_count }} // Logical Cores: {{ cpu_logical_count }}</h2>
              </div>
              <div class="mdl-cell--12-col mdl-grid">
                {% for index in cpu_logical_count_range %}
                <svg viewBox="0 0 100 100" width="200px" height="200px" class="mdl-cell mdl-cell--3-col mdl-grid">
                  <text x="50" y="40" font-family="Roboto" font-size="10" fill="#888" text-anchor="middle" dy="0.1">Thread {{ forloop.counter }}</text>
                  <circle r="45" cx="50" cy="50" fill="transparent" stroke="#EEFBCC" stroke-width="10"/>
                  <text id="cpu{{ forloop.counter }}_text" x="54" y="63" font-family="Roboto" font-size="20" fill="#888" text-anchor="middle" dy="0.1" value="0">0%</text>
                  <path id="cpu{{ forloop.counter }}" data-value="75" d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#ACEC00" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 282.783px, 282.783px; stroke-dashoffset: 282.783px;"></path>
                </svg>
                {% endfor %}
              </div>
            </div>
            <!-- RAM DATA -->
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
              <div class="mdl-card__title mdl-color--pink-400">
                <h2 class="mdl-card__title-text mdl-card--expand">RAM usage</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                <svg viewBox="0 0 100 100" width="200px" height="200px" class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                  <text x="50" y="40" font-family="Roboto" font-size="10" fill="#888" text-anchor="middle" dy="0.1">Used</text>
                  <circle r="45" cx="50" cy="50" fill="transparent" stroke="#FBD8E4" stroke-width="10"/>
                  <text id="ram_text" x="54" y="63" font-family="Roboto" font-size="20" fill="#888" text-anchor="middle" dy="0.1">0%</text>
                  <path id="ram" data-value="{{ ram_usage.percent }}" d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#EF3C79" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 282.783px, 282.783px; stroke-dashoffset: 282.783px;"></path>
                </svg>
                <div class="mdl-cell mdl-cell--6-col ram_details">
                  <p class="mdl-typography--title">Total: <span class="mdl-typography--font-regular">{{ ram_usage.total }} {{ ram_usage.units }}</span></p>
                  <p class="mdl-typography--title">Used: <span class="mdl-typography--font-regular">{{ ram_usage.used }} {{ ram_usage.units }}</span></p>
                  <p class="mdl-typography--title">Free: <span class="mdl-typography--font-regular">{{ ram_usage.available }} {{ ram_usage.units }}</span></p>
                </div>
              </div>
            </div>
            <!-- TEMP DATA -->
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
              <div class="mdl-card__title mdl-color--orange-400">
                <h2 class="mdl-card__title-text mdl-card--expand">CPU temp</h2>
              </div>
              <div class="mdl-card__supporting-text">
                {% for index in cpu_physical_count_range %}
                <p class="mdl-typography--title">Core {{ forloop.counter }}: <span id="temp{{ forloop.counter }}" class="mdl-typography--font-regular">0</span><span> &deg;C</span></p>
                {% endfor %}
              </div>
            </div>
            <!-- FAN DATA -->
            {% if active_fans_count > 0 %}
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
              <div class="mdl-card__title mdl-color--blue-400">
                <h2 class="mdl-card__title-text mdl-card--expand">FAN speeds</h2>
              </div>
              <div class="mdl-card__supporting-text">
                {% for index in fans_count_range %}
                <p class="mdl-typography--title">Fan {{ forloop.counter }}: <span id="fan{{ forloop.counter }}" class="mdl-typography--font-regular">0</span><span> RPM</span></p>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <!-- DISK DATA -->
            <div id="disk_usage" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="mdl-card__title mdl-color--pink-400">
                <h2 class="mdl-card__title-text mdl-card--expand">DISK usage</h2>
              </div>
              <div class="mdl-cell mdl-cell--12-col mdl-grid">
                {% for key, values in disk_usage.items %}
                <div class="mdl-card__supporting-text mdl-cell mdl-cell--6-col mdl-grid">
                  <svg viewBox="0 0 100 100" width="200px" height="200px" class="mdl-cell mdl-cell--6-col">
                    <text x="50" y="40" font-family="Roboto" font-size="10" fill="#888" text-anchor="middle" dy="0.1">Used</text>
                    <circle r="45" cx="50" cy="50" fill="transparent" stroke="#FBD8E4" stroke-width="10"/>
                    <text id="disk{{ forloop.counter }}_text" x="54" y="63" font-family="Roboto" font-size="20" fill="#888" text-anchor="middle" dy="0.1">0%</text>
                    <path id="disk{{ forloop.counter }}" data-value="{{ values.percent }}" d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#EF3C79" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 282.783px, 282.783px; stroke-dashoffset: 282.783px;"></path>
                  </svg>
                  <div class="mdl-cell mdl-cell--6-col ram_details">
                    <p class="mdl-typography--title">Disk: <span class="mdl-typography--font-regular">{{ key }}</span></p>
                    <p class="mdl-typography--title">Total: <span class="mdl-typography--font-regular">{{ values.total }} {{ values.units }}</span></p>
                    <p class="mdl-typography--title">Used: <span class="mdl-typography--font-regular">{{ values.used }} {{ values.units }}</span></p>
                    <p class="mdl-typography--title">Free: <span class="mdl-typography--font-regular">{{ values.free }} {{ values.units }}</span></p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- RAID DATA -->
          </div>
          {% if raid_data %}
          <div class="cards mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="mdl-card__title mdl-color--orange-400">
                <h2 class="mdl-card__title-text mdl-card--expand">RAID Info</h2>
              </div>
              <div class="mdl-card__supporting-text">
                {% for value in raid_data %}
                <p class="mdl-typography--title mdl-typography--font-regular mdl-color-text--grey-800">{{ value }}</p>
                {% endfor %}
              </div>
            </div>
            <!-- SERVICES DATA -->
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              {% for key, value in services_list.items %}
              {% if not value.1 %}
              <div class="mdl-card__title mdl-color--red-600">
                <h2 class="mdl-card__title-text mdl-card--expand mdl-color-text--white">{{ key }} is offline</h2>
              </div>
              {% endif %}
              {% if value.1 %}
              <div class="mdl-card__title mdl-color--green-400">
                <h2 class="mdl-card__title-text mdl-card--expand mdl-color-text--white">{{ key }} is online</h2>
              </div>
              {% endif %}
              <div class="mdl-card__supporting-text">
                <p class="mdl-typography--title mdl-typography--font-regular mdl-color-text--grey-800">{{ value.0 }}</p>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block post_load %}
  {% load staticfiles %}
  <script type = "text/javascript" src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
  <script type = "text/javascript" src="{% static "js/app.js" %}"></script>
{% endblock %}
